.recipe-container {
  width: 100%;
  background-color: #dce2e8;
  max-width: 1120px;
  border-radius: 16px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
}

.column {
  width: 200px;
  margin: 20px;
  height: 100%;
}

.first-column-container {
  flex-grow: 1;
}

.second-column-container {
  flex-grow: 1;
}

.third-column-container {
  flex-grow: 1;
}

li {
  list-style: unset !important;
}

ul {
  grid-template-columns: none !important;
}

.bold-text {
  font-size: 22px;
  font-weight: 600;
}

/* .recipe-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
} */

/* .recipe-name {
  font-size: 32px;
  overflow-wrap: normal;
  word-break: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid #bee3db;
  border-color: #1a365d;
  font-weight: bold;
  color: #1d3c4d;
  padding-bottom: 32px;
} */

/* .recipe-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.back-button-container {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0.5rem;
  padding-left: 0;
  min-height: 0;
  z-index: 10;
}

.back-button {
  color: #718096;
  transition-property: color;
  transition-duration: 0.3s;
  font-weight: bold;
}

.body-container {
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    margin-top: -40px;
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  @media (min-width: 768px) {
    width: 50%;
    justify-content: flex-end;
    padding-right: 2.5rem;
  }
}

.recipe-image {
  border-radius: 0.375rem;
  height: auto;
  width: 100%;
  object-fit: cover;
  padding: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  @media (min-width: 768px) {
    padding: 0;
    transform: translateY(-30%);
  }
} */
