.recipe-container {
  width: 100%;
  background-color: #dce2e8;
  max-width: 1120px;
  border-radius: 16px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
}

.column {
  width: 200px;
  margin: 20px;
  height: 100%;
}

.first-column-container {
  flex-grow: 1;
}

.second-column-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.third-column-container {
  flex-grow: 1;
}

li {
  list-style: unset !important;
}

ul {
  grid-template-columns: none !important;
}

.bold-text {
  font-size: 22px;
  font-weight: 600;
}

.recipe-name {
  font-size: 32px;
  overflow-wrap: normal;
  word-break: normal;
  letter-spacing: 0.05em;
  border-color: #1a365d;
  font-weight: bold;
  color: #212529;
  margin-bottom: 20px;
}

.image-container {
  width: 250px;
  height: auto;
  overflow: hidden;
}

.recipe-image img {
  max-width: 100%;
  max-height: 100%;
}

.function-icon {
  font-size: 30px;
  cursor: pointer;
  padding-bottom: 10px;
}

.comment-box {
  margin-top: 20px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  border-bottom: 1px solid #dae0e6;
  padding-bottom: 20px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: flex-end;
}

.input-text-comment {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 150px;
  /* outline: black; */
}

.comment-button {
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  font-weight: 600;
  background-color: #568410;
  color: black;
  margin-top: 10px;
}

.all-comment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: #f1f2f5; */
  margin-left: 120px;
  margin-top: 20px;
  width: 60%;
}

.user-comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  background-color: #f1f2f5;
  padding: 10px;
  border-radius: 10px;
}
