.nav-container {
  display: flex;
  justify-content: space-around;
}
.icon-container {
  display: flex;
  align-items: center;
}
.icon-container h1 {
  font-size: 35px;
  height: 80px;
  color: black;
  background-color: white;
  padding-top: 35px;
  text-shadow: 2px 2px 2px #cbf83f; /* Add a shadow to the text */
}

.nav-login button {
  background-color: #cbf83f;
  border-radius: 5px;
  margin-top: 35px;
}
