.nav-container {
  display: flex;
  justify-content: space-around;
}
.icon-container {
  display: flex;
  align-items: center;
}
.icon-container h1 {
  font-size: 35px;
  height: 80px;
  color: rgb(86, 132, 16);
  background-color: white;
  padding-top: 35px;
}
.nav-login button {
  background-color: rgb(86, 132, 16);
  border-radius: 5px;
  margin-top: 35px;
}
